.message {
    margin: 10px;
    display: block;
    width: 50%;
    border-radius: 10px;
}

.sentMessage {
    background: lightblue;
    float: right;
    text-align: right;
}

.incomingMessage {
    background: blue;
    float: left;
    text-align: left;
}

.messageHistory {
    height: calc(100% - 150px);
    overflow-y: scroll;
}

.messageEditor {
    position: fixed;
    height: 150px;
    width: 80%;
    max-width: calc(100% - 300px);
    bottom: 0px;
    display: flex;
    align-items: center;
}

.messageEditor button {
    width: 80px;
    height: 45px;
    border-radius: 10%;
    background:#00b4cc;
    margin-right: 10px;
}

.messageEditor textarea {
    width: calc(100% - 100px);
    height: calc(100% - 20px);
    border-radius: 15px;
    border: 4px solid #00b4cc;
    padding: 5px;
    color: #9dbfaf;
    margin-right: 10px;
}

.container {
    position: relative;
    height: calc(100vh - 96px);
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  } 