.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 1px 4px lightblue;
    margin: 10px;
    border-radius: 10px;
    max-width: 180px;
    height: min-content;
}

.result:hover .resultTitle a {
    color: #028697;
    font-size: 20px;

    overflow: visible;
    white-space: normal;
}



.resultImage {
    height: 250px;
    width: 175px;
    background: #00b4cc;
    border-radius: 10px;
    margin: 5px;
}

.resultTitle a {
    font-size: 18px; 
    font-family: raleway;
    text-decoration: none;
    color: #00b4cc;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    word-break: break-word;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* .resultTitle a:hover {
    overflow: visible;
    white-space: normal;
    position: absolute;
} */