.submenu {
    display: none;
}

.menuItem:hover .submenu {
    display: block;
}

.menu {
    position:relative;
    margin-top: 150px;
    box-shadow: 2px 2px 1px 4px lightblue;
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.menuItem {
    width: 100%;
    display: inline-block;
    position: relative;
}

.menuItem label, .submenuItem label, .menuItem:hover .submenu label {
    font-size: 18px; 
    font-family: raleway;
    color: #00b4cc;
}

.menuItem:hover label, .submenuItem:hover label {
    /* color: #028697; */
    font-size: 20px;
}

label input {
    margin-right: 10px;
}